<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Live360!</a>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="notificationBtn">
                    <i class="bi bi-bell"></i>
                </button>
                <ul class="dropdown-menu" id="notificationList">
                </ul>
            </div>
        </div>
    </div>
</header>