<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<body class="text-center" data-new-gr-c-s-check-loaded="14.1085.0" data-gr-ext-installed="">
    <%- include('../main') %> 
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>